
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    @*添加Jquery EasyUI的样式*@
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" />
    @*添加Jquery，EasyUI和easyUI的语言包的JS文件*@
    <script src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        function dologin() {
            $("#logBtn").click(function () {
                var postData = {
                    UserName: $("#logname").val(),
                    UserPwd: $("#logpass").val(),
                    Code: $("#logyzm").val()
                };
                $.post("/Login/CheckUserInfo", postData, function (data) {

                    if (data == "OK") {
                        window.location.href = "/Home/Index";
                    } else {
                        alert(data);
                        window.location.href = "/Login/Index";
                    }
                });
            });
        }
        function changeVeryfy() {
            var code = $("#imgCode").attr("src");
            $("#imgCode").attr("src", code + "1");
        }
    </script>
 </head>
<body>
    <div style="margin:20px 0;">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#w').window('open')">Open</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#w').window('close')">Close</a>
    </div>
    <div id="w" class="easyui-window" title="请先登录" data-options="modal:true,closed:true,iconCls:'Lockgo',closable:false,minimizable:false" style="width:400px;padding:20px 70px 20px 70px;">

        <div style="margin-bottom:10px">
            <input class="easyui-textbox" id="logname" style="width:100%;height:30px;padding:12px" data-options="prompt:'登录名',iconCls:'icon-man',iconWidth:38">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" id="logpass" type="password" style="width:100%;height:30px;padding:12px" data-options="prompt:'登录密码',iconCls:'icon-lock',iconWidth:38">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" type="text" id="logyzm" style="width:50%;height:30px;padding:12px" data-options="prompt:'验证码'">
            <a href="javascript:;" alt="单击可刷新" class="showcode" onclick="changeVeryfy()">看不清换一张</a>
            <img id="imgCode"  style=" margin:0 0 0 3px ; vertical-align:middle; height:26px;" src="/Login/CheckCode?ID=1" onclick="changeVeryfy()">
        </div>
        <div style="margin-bottom:20px">
            <input type="checkbox" checked="checked" id="logrem">
            <span>Remember me</span>
        </div>
        <div>
            <a  class="easyui-linkbutton" id="logBtn" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:100%;" onclick="dologin()">
                <span style="font-size:14px;">登录</span>
            </a>
        </div>
    </div>
</body>
</html>
