@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script type="text/javascript">
    $(function () {
        //当页面首次刷新的时候执行的事件
        initTable();
        bindRegisteButtonClickEvent();
        CheckUserName();
        checkPwdAndOKPwdIsEqualTo()
    });
    //实现对DataGird控件的绑定操作
    function initTable() {
        $('#test').datagrid({   //定位到Table标签，Table标签的ID是test
            //   UserInfo是控制器，GetAllUserInfos是控制器中获取用户数据的一个Action
            url: '/UserInfo/GetAllUserInfo',   //指向后台的Action来获取当前用户的信息的Json格式的数据
            title: '用户信息的展示',  //标识
            //下面的这些属性如果谁不太清楚的话我建议去官方网站去学习或者在群里我们讨论，这里就不说了
            iconCls: 'icon-save',
            width: 600,
            height: 500,
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            collapsible: true,
            pagination: true,
            rownumbers: true,
            sortName: 'Id',
            sortOrder: 'desc',
            remoteSort: false,
            idField: 'Id',
            frozenColumns: [[
                { field: 'ck', checkbox: true },
                { title: '主键', field: 'Id', width: 80, sortable: true },
                { title: '用户ID', field: 'CardId', width: 80, sortable: true },
                { title: '姓名', field: 'UserName', width: 100, sortable: true },
                { title: '电话', field: 'Phone', width: 120, sortable: true }
            ]],
            toolbar: [{
                id: 'btnadd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    onclick = $('#DivAddUser').window('open');
                    //$('#btnsave').linkbutton('enable');
                }
            }, {
                id: 'btncut',
                text: '修改',
                iconCls: 'icon-cut',
                handler: function () {
                    $('#btncut').linkbutton('enable');
                  
                }
            }, '-', {
                id: 'btnSave',
                text: '删除',
                iconCls: 'icon-cancel',
            }]
        });
    }

    //绑定注册按钮的事件
    function bindRegisteButtonClickEvent() {
        $("#btnRegist").click(function () {
            //判断用户的信息是否通过验证
            var validate = $("#ff").form('validate');
            if (validate == false) {
                return false;
            }

            //获取参数传递给前台
            var postData = {
                CardId: $("#UserID").val(),
                UserName: $("#RealName").val(),
                UserPwd: $("#UserPassword").val(),
                Group:$("#UserID").val(),
                //Email: $("#Email").val(),
               // SecurityLevel: $("#SecurityLevel").combobox('getValue'),
               // Gender: $('input[name="Gender"]:checked').val(),
               // Birthday: $("#Birthday").datebox('getValue'),
                Phone: $("#Mobile").val(),
               // Telephone: $("#Telephone").val(),
               // QICQ: $("#QICQ").val(),
               // SortCode: $("#SortCode").val(),
               // Description: $("#Description").val()
            };

            //发送异步请求到后台保存用户数据
            $.post("/UserInfo/RegisterUser", postData, function (data) {
                if (data = "OK") {
                    //添加成功  1.关闭弹出层，2.刷新DataGird
                    alert("添加成功");
                    $("#DivAddUser").dialog("close");
                    $("#test").datagrid("reload");
                    $("#ff").form("clear");
                }
                else {
                    alert("添加失败，请您检查");
                }
            });
        });
    }

    //检测注册用户登录名不能重复
    function CheckUserName() {
        //实现对用户名不能重复的验证，如果用户名称相同的话则报错，负责添加成功
        $("#UserID").blur(function () {
            //得到验证控件的值
            var UserNameCheck = $("#UserID").val();

            //发送异步请求去验证用户名不能重复
            $.get("/UserInfo/CheckUserID", { UserName: UserNameCheck }, function (date) {
                if (date == "OK") {
                    alert("该用户已经存在");
                    $("#UserID").val("");
                    return;
                }
            });
        });
    }

    //验证用户两次输入的密码是否相同

    function checkPwdAndOKPwdIsEqualTo() {
        $.extend($.fn.validatebox.defaults.rules, {
            //判断必须和某个字段相同
            equalTo: {
                validator: function (value, param) {
                    return $('#' + param[0]).val() == value;
                },
                message: '字段不匹配'
            }
        });
    }
</script>

<div title="用户管理" data-options="closable:true" style="padding:10px">
    <div >
        <!-----------------------EasyUI的DataGird控件的放置----------------------->
        <table id="test" title="用户操作" iconcls="icon-edit" ></table>
    </div>

    <!--------------------------添加用户信息的弹出层---------------------------->
    <div id="DivAddUser" class="easyui-dialog" style="width:690px;height:450px;padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="ff" method="post" novalidate="novalidate">
            <fieldset>
                <legend>用户必填信息</legend>
                <table id="tblAdd">
                    <tr>
                        <td><label for="UserID">登录ID：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="UserID" name="UserName" data-options="required:true,validType:'length[1,32]'" />
                        </td>
                        <td><label for="RealName">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真实姓名：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="RealName" name="RealName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="UserPassword">密码：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="UserPassword" name="UserPassword" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                        <td><label for="OKUserPassword">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认密码：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="OKUserPassword" name="OKUserPassword" data-options="required:true" validType="equalTo['UserPassword']" invalidMessage="两次输入的密码不匹配" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <fieldset>
                <legend>用户选填信息</legend>
                <table id="tblAdd1">
                    <tr>
                        <td><label for="Email">EMail：</label></td>
                        <td>
                           <input class="easyui-validatebox" type="text" id="Email" name="Email" data-options="validType:'email'" />
                        </td>
                        <td><label for="SecurityLevel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安全级别：</label></td>
                        <td>
                            <select id="SecurityLevel" class="easyui-combobox" style="width:154px;" name="SecurityLevel" data-options="required:true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="Gender">性别：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="radio" name="Gender" id="Boy" value="男" checked="checked" />男&nbsp;&nbsp;
                            <input class="easyui-validatebox" type="radio" name="Gender" id="Girl" value="女" />女&nbsp;&nbsp;
                            <input class="easyui-validatebox" type="radio" name="Gender" id="No" value="未知" />未知
                        </td>
                        <td><label for="Birthday">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出生日期：</label></td>
                        <td>
                            <input id="Birthday" style="width:154px;" class="easyui-datebox"  name="Birthday" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Mobile">手机号码：</label></td>
                       <td>
                            <input class="easyui-numberbox" type="text" id="Mobile" name="Mobile" />
                        </td>
                        <td><label for="Telephone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话号码：</label></td>
                        <td>
                            <input class="easyui-numberbox" type="text" id="Telephone" name="Telephone" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="QICQ">QQ号码：</label></td>
                        <td>
                            <input class="easyui-numberbox" type="text" id="QICQ" name="QICQ" />
                        </td>
                        <td><label for="SortCode">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排序码：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="SortCode" name="SortCode" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Description">备注信息：</label></td>
                        <td colspan="3">
                            <textarea style="height:50px; width:406px;" id="Description" name="Description"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center; padding-top:10px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnRegist" iconcls="icon-ok">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#DivAddUser').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>



